body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(119, 188, 240, 0.934);
}
#container {
  width: 480px;
  height: 480px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid rgb(27, 27, 46);
}
.square {
  border: 1px solid rgb(216, 216, 216);
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
}
.button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  margin: 25px;
}
.button:hover {
  background-color: rgb(123, 123, 123);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:active {
  background-color: rgb(55, 0, 255);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: scale(0.95);
}
h1 {
  font-weight: 800;
  margin: 0px;
}
